body {
background-color: black;
width: 640px;
margin-left: 0px;
margin-bottom: 0px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
color:white;
height:100%;
text-align:center;
font-size:18px;
}

img {
  width: 600px;
  height: 250px;
  display: block;
  
  padding-bottom: 30px;
  margin-left: 0px;
  box-sizing: border-box;
  padding: 0px 30px 20px;
}



p {
  color: coral;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
}

h2 {
  font-family: 'Kaushan Script';
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}



#hold {
  width: 600px;
  height: 50px;
  
}

canvas{
  color:white;
  border: white dashed 2px;
  padding:15px;
}




#alphabet {
  margin:25px auto;
  padding:0;
  max-width:600px;
  width: 400px;
  
  
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  color: coral;
  cursor:pointer;
  border: solid 1px white;
  margin-bottom: 10px;
  text-align: center;
  }

#my-word {
  margin: 0;
  float: left;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

.active {
  cursor: pointer;
}

#mylives{
  font-size:25px;
  width: 50%;
  height: 100px;
  text-align:center;
  display:inline block;
  border: 5px;
  margin: 10px 5px 5px 10px;
}

#play {
  background:rgb(236, 99, 49);
  margin: 10px 10px 10px 10px;
}
#pause {
  background: rgb(234, 133, 97);
  margin: 10px;
}
#stop {
  background: #e7b6a4;
  margin: 10px;
}
button{
  
  background:#dc9c84;
  color: black;
  border: solid 1px white;
  text-decoration:none;
  cursor:pointer;
  font-size: 25px;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
}
  .button a:hover {
    color: white;
}

@media (max-width: 748px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  @media (max-width: 640px) {
  #alphabet {
  padding:0 0 0 25px;
}
  }
  .footer {
    margin-left: 0px;
    background-color: black;
    color: coral;
    position: bottom-fixed;
    font-family: "Kaushan Script";
    padding-left: 100px;
    border-top: 10px;
    clear: both;
    flex-shrink: 0;
    text-align: center;
}
.footer a:hover {
  color: white;